/* nav */
.menus {
  display: flex;
  align-items: center;
  gap: 8px;
  

}

.bell-menu {
  color: white;
  width: 20px;
height: 20px;
padding: 6px;
}

.name-menu {
border-radius: 6px;
background: #36FBA1;
text-align: center;
color: rgba(0, 0, 0, 0.40);
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 500;
padding: 6px ;
}

label {
  display: flex;
  position: relative;
}

label p {
  margin: 0;
  position: absolute;
  color: #B5B5B5;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  left: 30px;
  top: 50%;
  transform: translatey(-50%);
}

label svg {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translatey(-50%);
}


body {
  margin: 0;
  font-family: 'Inter';
  box-sizing: border-box;
}

.navbar {
  background-color: #000000;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.search {
  flex: 1;
}

.search input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #616161;
  background: #303030;
}

.menus a {
  text-decoration: none;

}
