:root {
  --nav-grey-50: #656266;
  --nav-grey-100: #616161;
  --nav-grey-200: #322F33;
  --nav-grey-300: #1C181D;
  --font-light: #E3E3E3;
  --font-mid: #616161;
  --font-dark: #303030;
  --stroke-s50: #EBEBEB;
  --stroke-s100: #00000012;
  --stroke-s200: #FFFFFF33;
  --hover: #F7F7F7;
  --pressed: #F0F0F0;
  --focused: #005BD3;
  --bg: #F1F1F1;
}

body {
  margin: 0;
  font-family: 'Inter';
  box-sizing: border-box;
  background-color: var(--bg);
}

/* nav */
.menus {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bell-menu {
  color: white;
  width: 20px;
height: 20px;
padding: 6px;
}

.name-menu {
border-radius: 6px;
background: #36FBA1;
text-align: center;
color: rgba(0, 0, 0, 0.40);
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 500;
padding: 6px ;
}

label {
  display: flex;
  position: relative;
}

label p {
  margin: 0;
  position: absolute;
  color: #B5B5B5;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

label svg {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.navbar {
  background-color: #1A1A1A;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.search {
  flex: 1;
}

.search input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #616161;
  background: #303030;
}

.menus a {
  text-decoration: none;
}

.profile {
  position: relative;
}
.profile-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: rgb(64, 17, 17);
  width: min-content;
  min-width: 300px;
  padding: 10px;
  border-radius: 8px;
  border: 3px solid var(--nav-grey-50);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}

.active {
  visibility: visible;
  opacity: 1;
}

.profile-dropdown * {
  color: #303030;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.alerts-con {
  display: flex;
  background-color: white;
  border: 1px solid var(--stroke-s200);
}
